body {
  font-family: "Montserrat", sans-serif;

  background-image: url(../img/bg_black.jpg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.total {
  font-size: 20px;
  font-weight: 500;
}
/* #modal {
  position: absolute;
  top: -10px;
  right: -850px;
} */
h5 {
  color: white;
  font-style: italic;
}

.slectPhone {
  width: 100%;
  /* margin-left: 50%; */
}

i {
  cursor: pointer;
  font-size: 25px;
  vertical-align: middle;
}
i.cartShop {
  font-size: 40px;
  color: white;
}
.card {
  position: relative;
  border: none;
  border-radius: 10px;
}
.card-img-top {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#addToCart {
  text-transform: uppercase;
  padding: 0.2rem -0.2rem;
  font-size: 0.94rem;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  outline: 0;
  border-radius: 1.875rem;
  color: #fff;
  cursor: pointer;
  line-height: 1.2;
  transition: all 0.5s;
  /* position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); */
  /* color: black; */
}
#addToCart:hover {
  background-position: right center;
}
#addToCart:focus {
  outline: none;
  box-shadow: none;
}
/* .btnCart {
  background-image: url(../img/bg_white.jpg);
  padding: 10px 25px;

  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-right: 0;
}
.btnCart:hover {
  color: #00b894;
} */

/* .btnCart {
  padding: 10px 30px;
} */
.modal-dialog {
  max-width: 800px;
}
.card-title {
  color: #f6b93b;
}
.btn-success {
  background-color: #079992;
  font-weight: 500;
  border-color: #079992;
  font-size: 15px;
}
.btn-success:hover {
  background-color: #20bf6b;
  border-color: #20bf6b;
}
