#loading {
  background-color: rgba(0, 0, 0, 0.586);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 0.94rem;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  outline: 0;
  border-radius: 1.875rem;
  color: #fff;
  cursor: pointer;
  line-height: 1.2;
  transition: all 0.5s;
  /* position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); */
  /* color: black; */
}
button:hover {
  background-position: right center;
}
button:focus {
  outline: none;
}

table thead {
  background-color: #11898e;
  color: wheat;
  text-align: center;
}
table,
tr,
th,
td {
  border: 3px solid #11998e;
}
input [type="checkbox"],
input[type="radio"] {
  background-color: #11898e;
}

.navbar-dark .navbar-brand {
  font-weight: bold;
}
.navbar-dark .navbar-brand:hover {
  color: #f8ae56;
}
